/* Estilo para las filas de jugadores */
.jugador-fila {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.jugador-fila:hover {
  background-color: #f2f2f2;
}

/* Estilo de las celdas de la tabla */
th, td {
  padding: 12px 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

table {
  width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
}

thead th {
  background-color: #68ca6c;
  color: white;
  font-size: 16px;
  letter-spacing: 0.5px;
}

/* Contenedor de la tabla */
.contenedor-tabla {
  padding: 20px 0;
  width: 100%;
  overflow-x: auto; /* Hacer la tabla scrollable horizontalmente en pantallas pequeñas */
}

/* Responsividad */
@media (max-width: 768px) {
  table {
    width: 100%; /* Se asegura que la tabla no se salga de los márgenes en pantallas pequeñas */
    font-size: 12px; /* Reduce el tamaño del texto para pantallas más pequeñas */
  }

  .contenedor-tabla {
    padding: 10px 0;
  }

  th, td {
    padding: 8px; /* Reduce el padding para ajustar mejor la tabla en dispositivos pequeños */
  }
}

@media (max-width: 480px) {
  body {
    background-size: cover; /* Ajuste del tamaño de fondo para evitar distorsión */
  }

  table {
    width: 100%; /* Asegura que la tabla ocupe el 100% del ancho disponible en pantallas pequeñas */
    font-size: 12px; /* Reduce aún más el tamaño de la fuente para mejorar la visibilidad */
  }

  .contenedor-tabla {
    overflow-x: scroll; /* Asegura que en dispositivos muy pequeños la tabla pueda hacer scroll horizontal */
  }

  th, td {
    padding: 6px; /* Reduce el padding para evitar desbordamiento en móviles */
  }
}