.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: #f4e3be; /* Color de fondo similar al de la carta */
    padding: 1rem;
    border-radius: 15px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1001;
    animation: modalOpen 0.5s ease-in-out;
    display: flex; /* Establecer el contenedor principal como flex */
    flex-direction: row; /* Alinear los elementos secundarios en fila */
  }
  
  .modal-content h3 {
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .modal-content p {
    color: #333;
    line-height: 1.5;
    margin-bottom: 0.5rem;
  }
  
  .jugador-imagen img {
    max-width: 100%; /* Changed to take the full width of its container */
    height: auto;
    border-radius: 15px; /* Changed to match the modal's border-radius */
    margin-bottom: 1rem;
  }
  
  button {
    background-color: #556b2f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
  }
  
  button:hover {
    background-color: #6b8f23;
  }
  
  @keyframes modalOpen {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  .modal-content h3 {
    color: #333; /* Color del texto */
    margin-bottom: 0.5rem;
  }
  
  .modal-content p {
    color: #333; /* Color del texto */
    line-height: 1.5;
    margin-bottom: 0.5rem;
  }
  
  .jugador-imagen img {
    max-width: 100px; /* Ajusta esto según el tamaño deseado */
    height: auto;
    border-radius: 50%; /* Para hacer la imagen circular */
    margin-bottom: 1rem;
  }
  
  button {
    background-color: #556b2f; /* Color de fondo del botón, elige uno que combine */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
  }
  
  button:hover {
    background-color: #6b8f23; /* Color de fondo del botón al hacer hover */
  }
  
  /* Añadir una animación básica al abrir el modal */
  @keyframes modalOpen {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .modal-content {
    animation: modalOpen 0.5s ease-in-out;
  }
  .carta-imagen {
    max-width: 100%; /* Anchura máxima de su contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 15px; /* Radio de borde para coincidir con el del modal */
    /* Elimina margin-bottom si no es necesario */
  }
  .modal-image-container {
    /* Contenedor para la imagen */
    max-width: 100%; /* Ajusta esto como sea necesario */
    display: flex; /* Habilitar flexbox */
    justify-content: center; /* Centrar la imagen en el espacio disponible */
  }
  .modal-text {
    /* Estilos para el contenedor de texto */
    max-width: 40%; /* Ajusta esto como sea necesario */
  }
  .modal-body {
    display: flex; /* Habilitar flexbox para el cuerpo del modal */
    justify-content: space-between; /* Separar el texto y la imagen */
    align-items: center; /* Centrar los elementos verticalmente */
  }