

  
  /* Estilo para el contenedor principal */
  .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Sombra suave para resaltar el contenedor */
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
  }
  
  /* Estilo para los encabezados */
  h2 {
    color: #495057; /* Un color más suave que el negro puro */
    text-align: center;
    font-weight: 900; /* Roboto fuente en negrita */
  }
  .player-item {
    display: flex;
    justify-content: space-between; /* Separa el nombre y el botón */
    align-items: center;
    width: 100%; 
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
  }
  
  /* Estilo para las secciones de cada equipo */
  .team-section {
    margin-bottom: 10px;
  }
  .team-blanco, .team-negro {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px; 
  }
  /* Diferenciación de colores para cada equipo */
  .team-section.team-blanco {
    border-left: 4px solid #007bff;
  }
  
  .team-section.team-negro {
    border-left: 4px solid #343a40;
  }
  
  
  /* Estilo para las listas desplegables */
  select {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #ced4da; /* Borde más definido */
    border-radius: 15px;
     height: auto;
   
    font-family: 'Lato', sans-serif; /* Lato es una fuente más limpia para los dropdowns */
    font-size: 12px; /* Tamaño de fuente más grande para una mejor legibilidad */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1); /* Sombra ligera para profundidad */
    margin-bottom: 20px; /* Más margen para separar de otros elementos */
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  select:hover {
    border-color: #adb5bd; /* Cambio de color al pasar el ratón */
  }
  
  
  /* Estilo para los botones */
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff; /* Color primario más saturado */
    color: #ffffff;
    font-size: 16px; /* Tamaño de fuente unificado */
    font-weight: 700; /* Fuente en negrita para los botones */
    cursor: pointer;
    transition: all 0.2s ease-in-out; /* Transición más suave para los efectos */
    margin-right: 10px; /* Espaciado uniforme */
  }
  
  button:hover {
    background-color: #757f8a; /* Oscurece el botón al pasar el ratón para un feedback inmediato */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Sombra para 'levantar' el botón */
  }
  
  /* Estilo para la lista de jugadores agregados */
  .player-list {
    list-style: none;
    padding-left: 0;
  }
  
  .player-list li {
    padding: 6px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
  }
  
  .player-name {
    margin: 0;
  }
  
 
  .soccer-field-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  
  

  .soccer-field {
    
    position: relative;
    background-image: url("https://i.pinimg.com/564x/92/cc/ae/92ccaeb5c94450914dffed88eb159aac.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 45%; /* Aumentar el ancho */
    height: calc(200px + 4cm);
  }
  /* Ubicación de los jugadores en el campo */
.player {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2px 10px;
  font-size: 12px;
  cursor: pointer;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
  
  .team-selection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px; /* Espacio arriba de la selección de equipos */
  }
 
 /* Ubicaciones específicas para Equipo Blanco */
.blanco.player-0 { top: 85%; left: 50%; } /* Posición del Arquero */
.blanco.player-1 { top: 65%; left: 30%; } /* Defensa izquierdo */
.blanco.player-2 { top: 65%; left: 70%; } /* Defensa derecho */
.blanco.player-3 { top: 45%; left: 70%; } /* Mediocampo izquierdo */
.blanco.player-4 { top: 45%; left: 30%; } /* Mediocampo derecho */
.blanco.player-5 { top: 25%; left: 70%; } /* Delantero central */
.blanco.player-6 { top: 25%; left: 30%; } /* Delantero izquierdo */

/* Ubicaciones específicas para Equipo Negro */
.negro.player-0 { top: 85%; left: 50%; } /* Posición del Arquero */
.negro.player-1 { top: 65%; left: 30%; } /* Defensa izquierdo */
.negro.player-2 { top: 65%; left: 70%; } /* Defensa derecho */
.negro.player-3 { top: 45%; left: 70%; } /* Mediocampo izquierdo */
.negro.player-4 { top: 45%; left: 30%; } /* Mediocampo derecho */
.negro.player-5 { top: 25%; left: 70%; } /* Delantero central */
.negro.player-6 { top: 25%; left: 30%; } /* Delantero izquierdo */

.date-picker-button-container {
  position: absolute;
  top: 10%; /* Ajusta según la posición exacta que desees */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5; /* Asegúrate de que el botón esté por encima de las canchas */

  
}

.date-picker-container {
  background-color: #eee;
  position: absolute;
  top: 50%; /* Ajusta según la posición exacta que desees */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Asegúrate de que el date picker esté por encima del botón */
}
.date-button {
 
  background-color: #8f9174; /* El color del texto, elige uno que combine con el fondo */
  border: 2px solid #dee2e6; /* Un borde sutil */
  padding: 5px 10px;
  border-radius: 5px; /* Esquinas redondeadas */
  box-shadow: 0 2px 4px rgba(0,0,0,0.9); /* Una ligera sombra */
  transition: all 0.2s ease-in-out; /* Una transición suave para los efectos de hover */
  font-size: 0.9em; /* Un tamaño de fuente más pequeño para ser más sutil */
  opacity: 0.8; /* Una opacidad más baja para un aspecto más sutil */
}

.date-button:hover {
  opacity: 1; /* Opacidad completa al pasar el ratón por encima */
  box-shadow: 0 4px 6px rgba(0,0,0,0.15); /* Sombra más pronunciada al pasar el ratón por encima */
}